.article {
    background-color: white;
    min-width: 600px;
    border-radius: 20px;
    padding: 20px 55px;

    &Title {
        text-align: center;
        font-size: 40px;
        font-weight: 900;
    }

    &Sorry {
        text-align: center;
        font-size: 2em;
        font-weight: 900;
        color: #3f72af;
    }
}