.form {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.input {
    font-size: 18px;
    text-align: center;
    background-color: #3f72af;
    color: white;
    padding: 18px 25px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: white;
        font-weight: 700;
    }
}

.button {
    cursor: pointer;
    color: #3f72af;
    background-color: white;
    border: 2px solid #3f72af;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 15px;
    font-weight: 800;
    transition: all 500ms ease 0s;

    &:hover {
        background-color: #3f72af;
        color: white;
    }

    &:focus {
        outline: none;
    }
}